<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="skyblue">

    <a href="/collage/home">Home</a> |
    <a href="/collage/about">About</a> |
    <a href="/collage/course">Course</a> |
    <a href="/collage/faculty">Faculty</a> |
     <a href="/collage/contact">Contect</a> |


    <hr size="4" color="red">

    <table align="center" width="500" bgcolor="yellow" bo>

        <tr>
            <th>RollNo</th>
            <th>Name</th>
            <th>City</th>
            <th>Fees</th>
        </tr>

        <% 
           Mydata.forEach((key)=>{
        %>

        <tr>
            <td><%= key.rollno %></td>
            <td><%= key.name %></td>
             <td><%= key.city %></td>
              <td><%= key.fees %></td>
        </tr>

        <%
        })
        %>

    </table>
    
</body>
</html>